.loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid rgb(45, 171, 83);
    border-bottom: 10px solid black;
    animation: loader 1.5s 1s infinite reverse;
    margin-top: 300px;
    margin-left: 700px;
}

@keyframes loader{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}
